[user]
	name = Vincent Delbar
	email = vincent.delbar@gmail.com
	signingkey = 1A99FBDC98F996B0
[credential]
	helper = store 
[core]
	excludesfile = ~/.gitignore
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
